[package]
name = "DomTestingLibrary"
version = "8.16.0"
authors = [
    "Ignacio Falk <flakolefluk@gmail.com>",
    "Allan Jeremy <dev@allanjeremy.com>",
    "Paul Doyle <pdoyle@roblox.com>",
]
content_root = "src"
files = ["*", "!**/__tests__/**", "!**/.robloxrc"]

[config]
registry_index = true

[dependencies]
LuauPolyfill = "github.com/roblox/luau-polyfill@1"
LuauRegExp = { target = "github.com/Roblox/luau-regexp", version = "0.2.0", package = "RegExp" }
Chalk = { target = "github.com/roblox/chalk-lua", version = "0.2.0", package = "ChalkLua" }
Promise = "github.com/roblox/roblox-lua-promise@3.3.0"
JestGetType = "github.com/roblox/jest-roblox@3.10.0"
PrettyFormat = "github.com/roblox/jest-roblox@3.10.0"
RobloxShared = "github.com/roblox/jest-roblox@3.10.0"
JestGlobals = "github.com/roblox/jest-roblox@3.10.0"

[dev_dependencies]
Jest = "github.com/roblox/jest-roblox@3.10.0"
